.DS_Store
.idea
.run
*.txt
*.iml
target
.metals
.env
.scalafmt
node_modules
frontend@tmp
services@tmp
.scalafmt.conf
*.auto-build-changes
.config/Cypress
target/
project/
esm
lib
build
*.tsbuildinfo
lerna-debug.log
*.tgz
package-lock.json
yarn-error.log
packages/e2e/*/cypress/screenshots/
packages/e2e/*/cypress/videos/
profile.gz
build-storybook.log
/bazel-*